<section class="container-fluid" style="margin-top: 10px;">
    <!-- headers -->
    <p-card>

        <div class="ui-g">
            <div class="ui-g-6">
                <h3> Citi Private Bank </h3>
            </div>
            <div class="ui-g-6" style="text-align: right;padding: 0px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSWr5o7k45lZ2vb6jINbYmk3NA2LzpFYW9KnNTo92drWhLvOube" alt="logo" width="70px" height="40px">
            </div>
        </div>    
    
    </p-card>
    <!-- step button -->
    <div class="ui-g" style="margin-top: 10px;">

        <p-button label="Getting Started : Accounts" styleClass="ui-button-secondary" disabled="true"></p-button>
        &nbsp;
        <p-button label="1.Selected Accounts" styleClass="ui-button-secondary" disabled="true"></p-button>
        &nbsp;
        <p-button label="2.Results" styleClass="ui-button-secondary" disabled="true"></p-button>
        &nbsp;
        <p-button label="3.Details" styleClass="ui-button-info"></p-button>

    </div>
    <!-- body -->
    <div class="ui-g">
        <div class="ui-g-2">
            <p-card styleClass="cardHeight cardRadius">
                <app-project-one-search></app-project-one-search>
            </p-card>
        </div>
        <div class="ui-g-10">
            <p-card styleClass="cardHeight cardRadius">
                <app-project-one-body></app-project-one-body>
            </p-card>
        </div>
    </div>
</section>
