
<div class="ui-g">
    <div class="ui-g-4">
        <p-chart type="bar" [data]="barData"></p-chart>
    </div>
    <div class="ui-g-4">
        <p-chart type="doughnut" [data]="doughnutData"></p-chart>
    </div>
    <div class="ui-g-4">
        <p-chart type="pie" [data]="pieData"></p-chart>
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-6">
        <p-chart type="polarArea" [data]="polarData"></p-chart>
    </div>
    <div class="ui-g-6">
        <p-chart type="radar" [data]="radarData"></p-chart>
    </div>
</div>

