<p-button label="Expand All" styleClass="ui-button-danger"></p-button>
&nbsp;&nbsp;
<p-button label="Collapse All" styleClass="ui-button-danger"></p-button>
<br/>
<br/>

<p-accordion>
    <p-accordionTab header="Account Information" [selected]="true">
       <p-card>
           <div class="ui-g">
               <div class="ui-g-3"><span>Account</span></div>
               <div class="ui-g-9">200AVLA12006002</div>
           </div>
           <div class="ui-g">
               <div class="ui-g-3"><span>Entitlement Group </span></div>
               <div class="ui-g-9">AR250898</div>
           </div>
           <div class="ui-g">
               <div class="ui-g-3"><span>Group</span></div>
               <div class="ui-g-9">Allls, Call Fatlm(USD)</div>
           </div>
           <div class="ui-g">
               <div class="ui-g-3"><span>Product Type</span></div>
               <div class="ui-g-9">Loan</div>
           </div>
           <div class="ui-g">
               <div class="ui-g-3"><span>Loan Currency</span></div>
               <div class="ui-g-9">USD</div>
           </div>
       </p-card>
    </p-accordionTab>
    <p-accordionTab header="Loan Attributes">
        Content 2
    </p-accordionTab>
    <p-accordionTab header="Due Information">
        Content 3    
    </p-accordionTab>
    <p-accordionTab header="Payment Information">
        Content 3   
    </p-accordionTab>
    <p-accordionTab header="Payment Summary">
        <p-card>
            <div class="ui-g">
                <div class="ui-g-3"><span></span></div>
                <div class="ui-g-2 text-right"><span>Principal</span></div>
                <div class="ui-g-2 text-right"><span>Interest</span></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"><span>Paid This Month</span></div>
                <div class="ui-g-2 text-right">0.00</div>
                <div class="ui-g-2 text-right">0.00</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"><span>Paid YTD</span></div>
                <div class="ui-g-2 text-right">0.00</div>
                <div class="ui-g-2 text-right">1,629.00</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"><span>Paid Last Year</span></div>
                <div class="ui-g-2 text-right">12,145.33</div>
                <div class="ui-g-2 text-right">3,459.37</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"><span>Payment Details</span></div>
                <div class="ui-g-2 text-right"><span class="text-danger">Payment Details</span></div>
                <div class="ui-g-2"></div>
            </div>
        </p-card>  
    </p-accordionTab>
</p-accordion>


