<p-button label="Expand All" styleClass="ui-button-danger"></p-button>
&nbsp;&nbsp;
<p-button label="Collapse All" styleClass="ui-button-danger"></p-button>
<br/>
<br/>

<p-accordion>
    <p-accordionTab header="Account Information" [selected]="true">
       <p-card>
           <div class="ui-g">
               <div class="ui-g-3"><span>Account</span></div>
               <div class="ui-g-9">200AVLA12006002</div>
           </div>
           <div class="ui-g">
               <div class="ui-g-3"><span>Entitlement Group </span></div>
               <div class="ui-g-9">AR250898</div>
           </div>
           <div class="ui-g">
               <div class="ui-g-3"><span>Group</span></div>
               <div class="ui-g-9">Allls, Call Fatlm(USD)</div>
           </div>
           <div class="ui-g">
               <div class="ui-g-3"><span>Product Type</span></div>
               <div class="ui-g-9">Loan</div>
           </div>
           <div class="ui-g">
               <div class="ui-g-3"><span>Loan Currency</span></div>
               <div class="ui-g-9">USD</div>
           </div>
       </p-card>
    </p-accordionTab>
    <p-accordionTab header="Loan Attributes">
        <div class="ui-g">
            <div class="ui-g-6">
                <p-card>
                    <div class="ui-g">
                        <div class="ui-g-5"><span></span></div>
                        <div class="ui-g-5"><span>Balance/Details</span></div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>Product Type</span></div>
                        <div class="ui-g-5">Loan</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>Amount</span></div>
                        <div class="ui-g-5">79,5850</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>Amount In USD</span></div>
                        <div class="ui-g-5">-</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>Currency</span></div>
                        <div class="ui-g-5">USD</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>Effective Date</span></div>
                        <div class="ui-g-5">01/06/2012</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>Maturity Date</span></div>
                        <div class="ui-g-5">01/15/2024</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>Borrower Number</span></div>
                        <div class="ui-g-5">000147418</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>Expense Code</span></div>
                        <div class="ui-g-5">09013</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>Callateralized(Secured/No.)</span></div>
                        <div class="ui-g-5">N</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>Status &nbsp;<i class="pi pi-info"></i></span></div>
                        <div class="ui-g-5">NORM</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>FC Ref Number</span></div>
                        <div class="ui-g-5">20AVLA120060002</div>
                    </div>
                </p-card>  
            </div>
            <div class="ui-g-6">
                <p-card>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>Rate Information</span></div>
                        <div class="ui-g-5"><span>Details</span></div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>All in Interest Rate</span></div>
                        <div class="ui-g-5">3.39219%</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>Interesed Index Rate</span></div>
                        <div class="ui-g-5">2.04213%</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>Spread</span></div>
                        <div class="ui-g-5">1.35000%</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>Accrued Interest Not Paid</span></div>
                        <div class="ui-g-5">713.03</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>Interest Rate Index</span></div>
                        <div class="ui-g-5">ICE LIBOR 1 MONTH RATE</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>LIBOR Contract Expiry</span></div>
                        <div class="ui-g-5">-</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>LIBOR Reset Date</span></div>
                        <div class="ui-g-5">-</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>LIBOR Auto Reset(Yes/No)</span></div>
                        <div class="ui-g-5">-</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>Per Diem</span></div>
                        <div class="ui-g-5">7.39</div>
                    </div>
                    <div class="ui-g">
                        <div class="ui-g-5"><span>Interest Basis</span></div>
                        <div class="ui-g-5">Actual/Actual</div>
                    </div><br/><br/>
                </p-card> 
            </div>
        </div>
    </p-accordionTab>
    <p-accordionTab header="Due Information">
        <p-card>
            <div class="ui-g">
                <span>The amount displayed may differ from the amount billed because the amount billed may not include any transactions or rate changes that occur thereafter.</span>
            </div>
            <div class="ui-g text-centre">
                <div class="ui-g-2"><span></span></div>
                <div class="ui-g-3"><span>Principal</span></div>
                <div class="ui-g-3"><span>Interest</span></div>
                <div class="ui-g-3"><span>Total &nbsp;<i class="pi pi-info"></i> </span></div>
            </div>
            <div class="ui-g text-centre">
                <div class="ui-g-2"><span></span></div>
                <div class="ui-g-2"><span>Date</span></div>
                <div class="ui-g-1 text-right"><span>Amount</span></div>
                <div class="ui-g-2"><span>Date</span></div>
                <div class="ui-g-1 text-right"><span>Amount</span></div>
                <div class="ui-g-2 text-right"><span>Amount</span></div>
            </div>
            <div class="ui-g text-centre">
                <div class="ui-g-2 text-left"><span>Current Due</span></div>
                <div class="ui-g-2">09/04/2018</div>
                <div class="ui-g-1 text-right">0.00</div>
                <div class="ui-g-2">10/04/2018</div>
                <div class="ui-g-1 text-right">661.31</div>
                <div class="ui-g-2 text-right">-</div>
            </div>
            <div class="ui-g text-centre">
                <div class="ui-g-2 text-left"><span>Next Due</span></div>
                <div class="ui-g-2">09/04/2018</div>
                <div class="ui-g-1 text-right">0.00</div>
                <div class="ui-g-2">10/04/2018</div>
                <div class="ui-g-1 text-right">661.31</div>
                <div class="ui-g-2 text-right">-</div>
            </div>
            <div class="ui-g text-centre">
                <div class="ui-g-2 text-left"><span>Last Due</span></div>
                <div class="ui-g-2">-</div>
                <div class="ui-g-1 text-right">0.00</div>
                <div class="ui-g-2">10/04/2018</div>
                <div class="ui-g-1 text-right">661.31</div>
                <div class="ui-g-2 text-right">-</div>
            </div>
            <hr>
            <div class="ui-g text-centre">
                <div class="ui-g-2"><span></span></div>
                <div class="ui-g-2"><span>Day(s)</span></div>
                <div class="ui-g-1 text-right"><span>Amount</span></div>
                <div class="ui-g-2"><span>Day(s)</span></div>
                <div class="ui-g-1 text-right"><span>Amount</span></div>
                <div class="ui-g-2 text-right"></div>
            </div>
            <div class="ui-g text-centre">
                <div class="ui-g-2 text-left"><span>Past Due</span></div>
                <div class="ui-g-2">7</div>
                <div class="ui-g-1 text-right">-</div>
                <div class="ui-g-2">7</div>
                <div class="ui-g-1 text-right">661.31</div>
                <div class="ui-g-2 text-right">0.00</div>
            </div>
        </p-card>       
    </p-accordionTab>
    <p-accordionTab header="Payment Information">
        <p-card>
            <div class="ui-g">
                <div class="ui-g-3"><span></span></div>
                <div class="ui-g-2 text-right"><span>Principal</span></div>
                <div class="ui-g-2 text-right"><span>Interest</span></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"><span>Frequency</span></div>
                <div class="ui-g-2 text-right">Yearly</div>
                <div class="ui-g-2 text-right">Quarterly</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"><span>Pre Billing Days</span></div>
                <div class="ui-g-2 text-right">30</div>
                <div class="ui-g-2 text-right">10</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"><span>Interim Schedule Payment Method</span></div>
                <div class="ui-g-2 text-right">BILL</div>
                <div class="ui-g-2 text-right">AUTO DEBIT</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"><span>Final Schedule Payment Method</span></div>
                <div class="ui-g-2 text-right">BILL</div>
                <div class="ui-g-2 text-right">BILL</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"><span>Auto-Debit DDA Account</span></div>
                <div class="ui-g-2 text-right">-</div>
                <div class="ui-g-2 text-right">37401599</div>
            </div>
        </p-card>   
    </p-accordionTab>
    <p-accordionTab header="Payment Summary">
        <p-card>
            <div class="ui-g">
                <div class="ui-g-3"><span></span></div>
                <div class="ui-g-2 text-right"><span>Principal</span></div>
                <div class="ui-g-2 text-right"><span>Interest</span></div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"><span>Paid This Month</span></div>
                <div class="ui-g-2 text-right">0.00</div>
                <div class="ui-g-2 text-right">0.00</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"><span>Paid YTD</span></div>
                <div class="ui-g-2 text-right">0.00</div>
                <div class="ui-g-2 text-right">1,629.00</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"><span>Paid Last Year</span></div>
                <div class="ui-g-2 text-right">12,145.33</div>
                <div class="ui-g-2 text-right">3,459.37</div>
            </div>
            <div class="ui-g">
                <div class="ui-g-3"><span>Payment Details</span></div>
                <div class="ui-g-2 text-right"><span class="text-danger">Payment Details</span></div>
                <div class="ui-g-2"></div>
            </div>
        </p-card>  
    </p-accordionTab>
</p-accordion>


