<div class="container-fluid">

    <div class="ui-g">

        <div class="ui-g-6">
            <input *ngIf="data?.name" id="name-input" type="text" value="{{data?.name}}" size="30" pInputText>
        </div>
    
        <div class="ui-g-6">
            <input *ngIf="data?.experiance" id="exp-input" type="text" value="{{data?.experiance}}" pInputText> 
        </div>
        
    </div>

<br/>

    <div class="ui-g">

        <div class="ui-g-6">
            <input *ngIf="data?.designation" id="desg-input" type="text" value="{{data?.designation}}" size="30" pInputText> 
        </div>
    
        <div class="ui-g-6">
            <input *ngIf="data?.account" id="acc-input" type="text" value="{{data?.account}}" size="30" pInputText> 
        </div>
        
    </div>

    <br/>

    <div class="ui-g">

        <div class="ui-g-6">
            <input *ngIf="data?.project" id="proj-input" type="text" value="{{data?.project}}" size="50" pInputText> 
        </div>
    
        <div class="ui-g-6">
            
        </div>
        
    </div>

    <br/>
    
</div>